@import 'customReset';

:root {
  --c-text: #a9a9a9;
  --c-text-dark: #444;
  --c-bg: #caebf2;
  --c-border: #ededed;
  --c-accent: #ff8049;
  --c-neutral: #efefef;
  --c-white: #fff;
}

body {
  font-family: 'Jost', sans-serif;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

.icon {
  width: 24px;
  height: 24px;
}